<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sendGridKey</key>
	<string>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</string>
</dict>
</plist>
